body {
    font-family: Arial, sans-serif;
    background-color: #fff7fb;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: #444;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 400px;
    width: 80%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

label {
    background-color: #875C74;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #875C74;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#result {
    margin-top: 20px;
    overflow-y: auto;
}

.probability-container {
    display: none;
    max-width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.probability-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
}

.card-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-body {
    font-size: 1.2em;
    color: #333;
}